@media screen and(max-width:500px){
    .menu_button{
        background-image: url("../img/menu_button.png");
        background-color: #cccccc00;
        background-size:contain;
        background-repeat: no-repeat;
        background-position: center;

        margin: 1vh;
        padding:0%;
        width: 40px;
        height: 40px;
        border: 0;
        z-index: 1;
        object-fit: contain;
    }

    nav{
        background-color: wheat;
        position: fixed;
        height: 100vh;
        width: 100%;
        max-width: 75vw;
        transition: .3s ease;

        left: -75vw;
    }

    nav.OnScreen{
        left: 0;
    }

}

.home_button{
    
}

.gallery_button{

}

.about_button{

}