@media screen and (max-width: 500px) {
    body{
        margin:0%;
        background-color: white;
        display: grid;
        grid-template-columns: ;
        grid-template-rows: ;
        grid-template-areas: ;
    }

    nav{
        background-color: lightpink;
        position: fixed;
        height: 100vh;
        width: 100%;
        max-width: 75vw;
        transition: .3s ease;

        left: -75vw;

    }

    nav.OnScreen{
        left: 0;
    }

    header{
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    h1{
        margin: 0%;
        font-size: 2em;
        justify-self: center;
        width: 100%;
        text-align: center;
        position: absolute;
    }

    .menu_button{
        background-image: url("/img/menu_button.png");
        background-color: #cccccc;
        margin: 1vh;
        padding:0%;
        width: 40px;
        height: 40px;
        border: 0;
        z-index: 1;
        object-fit: contain;
    }
}


@media screen and (min-width: 500px) {
    body{
        margin:0%;
        background-color: white;
        display: grid;
    }

    nav{
        background-color: lightpink;
        position: fixed;
        height: 100vh;
        width: 100%;
        max-width: 25vw;
        transition: .3s ease;

        left: -75vw;

    }

    nav.OnScreen{
        left: 0;
    }

    header{
        grid-area: hd;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    h1{
        margin: 0%;
        font-size: 2em;
        justify-self: center;
        width: 100%;
        text-align: center;
        position: absolute;
    }

    .menu_button{
        background-image: url("/img/menu_button.png");
        background-color: #cccccc;
        margin: 10px;
        padding:0%;
        width: 40px;
        height: 40px;
        border: 0;
        z-index: 1;
        object-fit: contain;
    }

}

h2{
    margin:0%;
    font-size: 1.5em;
}

p{
    margin: 0%;
}

img{
    object-fit: cover;
}