@font-face{
    font-family: sora;
    src: url(../fonts/Sora/Sora-VariableFont_wght.ttf)
}

@font-face{
    font-family: playfair;
    src: url(../fonts/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf)
}


@media screen and (max-width: 500px) {
    body{
        margin:0%;
        background-color: wheat;
        display: grid;
        grid-template-columns: 50vw 50vw;
        grid-template-rows: 10vh 50vw 50vw 12vh 50vw 100vw 30vh;
        grid-template-areas: 
        "hd hd"
        "hero img1"
        "p2 p2"
        "news news"
        "u-p3 img2"
        "lt-pht lt-pht"
        "ft ft"
        ; 

        font-family: sora;
    }
    

    nav{
        background-color: wheat;
        position: fixed;
        height: 100vh;
        width: 100%;
        max-width: 75vw;
        transition: .3s ease;

        left: -75vw;

    }

    nav.OnScreen{
        left: 0;
    }

    header{
        grid-area: hd;
        display: flex;
        flex-direction: row;
        align-items: center;

        background-color:rgba(56, 28, 8, 0.897);
        color: wheat;
        font-family: luxurious;

        font-weight: 900;
        letter-spacing: 3px;
        word-spacing: 6px;
        font-size: 20px;


    }

    h1{
        margin: 0%;
        font-size: 2em;
        justify-self: center;
        width: 100%;
        text-align: center;
        position: absolute;
    }

    .menu_button{
        background-image: url("../img/menu_button.png");
        background-color: #cccccc00;
        background-size:contain;
        background-repeat: no-repeat;
        background-position: center;

        margin: 1vh;
        padding:0%;
        width: 40px;
        height: 40px;
        border: 0;
        z-index: 1;
        object-fit: contain;
    }



    .hero{
        grid-area: hero;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    img.one{
        grid-area: img1;
        width:50vw;
        height:50vw;
    }

    .p2{
        grid-area: p2;
        display: flex;
        flex-direction: column;
    }

    .cv_button{
        height: 75px;
        width: 150px;
        align-self: center;
    }

    .news{
        grid-area: news;
        font-size: 1.8em;
        
    }

    .latest{
        grid-area: u-p3;
        display: flex;
        flex-direction: column;
    }



    img.two{
        grid-area: img2;
        width:50vw;
        height:50vw;
    }

    .latest_pics{
        grid-area: lt-pht;
        display: grid;
        grid-template-rows: 32vw 32vw 32vw;
        grid-template-columns: 32vw 32vw 32vw;
        grid-template-areas: 
        'ltp1 ltp2 ltp3'
        'ltp4 ltp5 ltp6'
        'ltp7 ltp8 ltp9';
        gap: 1vw;
        margin: 1vw;

    }

    img.ltp1{
        grid-area:ltp1;
        width:32vw;
        height:32vw;
    }
    img.ltp2{
        grid-area:ltp2;
        width:32vw;
        height:32vw;
    }
    img.ltp3{
        grid-area:ltp3;
        width:32vw;
        height:32vw;
    }
    img.ltp4{
        grid-area:ltp4;
        width:32vw;
        height:32vw;
    }
    img.ltp5{
        grid-area:ltp5;
        width:32vw;
        height:32vw;
    }
    img.ltp6{
        grid-area:ltp6;
        width:32vw;
        height:32vw;
    }
    img.ltp7{
        grid-area:ltp7;
        width:32vw;
        height:32vw;
    }
    img.ltp8{
        grid-area:ltp8;
        width:32vw;
        height:32vw;
    }
    img.ltp9{
        grid-area:ltp9;
        width:32vw;
        height:32vw;
    }



    footer{
        grid-area: ft;
    }
}


@media screen and (min-width: 500px) {
    body{
        max-width: 100vw;
        margin:0%;
        background-color:wheat;
        display: grid;
        grid-template-columns: 70vw 30vw;
        grid-template-rows: 8vh 40vw 50vh 90vh 20vh;
        grid-template-areas: 
        "hd hd"
        "hero hero"
        "news news"
        "latest latest"
        "ft ft"; 

        font-family: playfair;
        
    }
    #heroContent {
        
        width: 50%;
        height: 60%;
        font-size: 3em;
        margin-left: 30px;
    }
    #CalltoAction {
        width: 12%;
        height: 7%;
        margin-left: 30px;
        background-color: bisque;
        border-radius: 10px;
        font-size: 1.5em;
        box-shadow: rgba(0, 0, 0, 0.664) 7px 7px 0px 0px;
    }
    

    nav{
        background-color: wheat;
        position: fixed;
        height: 100vh;
        width: 100%;
        max-width: 25vw;
        transition: .3s ease;

        left: -75vw;

    }

    nav.OnScreen{
        left: 0;
    }

    header{
        grid-area: hd;
        display: flex;
        flex-direction: row;
        align-items: center;
        background-color:rgba(56, 28, 8, 0.897);

        color: wheat;

        font-weight: 900;
        letter-spacing: 3px;
        word-spacing: 6px;
        font-size: 20px;
    }

    h1{
        margin: 0%;
        font-size: 2em;
        justify-self: center;
        width: 100%;
        text-align: center;
        position: absolute;
    }

    .menu_button{
        background-image: url("../img/menu_button.png");
        background-color: #ffffff00;
        background-size:contain;
        background-repeat: no-repeat;
        background-position: center;

        margin: 10px;
        padding:0%;
        width: 40px;
        height: 40px;
        border: 0;
        z-index: 1;
    }



    .hero{
        grid-area: hero;

        background-image: url("../img/photo-1500673922987-e212871fec22.jpg");
        background-color:#cccccc00;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        color: rgb(243, 229, 202);
        

        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    img.one{
        display:none;

        grid-area: img1;
        width:50vw;
        height:50vw;
    }

  

    .cv_button{
        height: 75px;
        width: 150px;
        align-self: center;
    }

    .news{
        grid-area: news;
        font-size: 1.8em;
        text-align: center;

        color: rgb(66, 30, 14);
        height: 50%;
        
    }
    .CardList {
        
        height: 43vh;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px
        
    }
    .Card {
        width: 17%;
        height: 100%;
        background-color: rgb(255, 255, 255);
        box-shadow: 6px 5px 13px -4px rgba(0,0,0,0.75);
        border-radius: 12px;
    }
    .Card img {
        width: 100%;
        height: 50%;
        border-radius: 12px 12px 0px 0px;
    }
    .Card h2 {
        font-size: 1em;
        color: black;
        font-family: playfair;
        text-align: start;
        margin: 20px;
    }
    .Card p {
        font-size: 50%;
        
        
    }
    .Card button {
        background-color: white;
        border: none;
        font-size: 0.7em;
        
    }

    #latestClass {
        grid-area: latest;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        width: 100vw;
        
    }
    .latest{
        width: 100%;
        display: flex;
        flex-direction: column;  
        font-size: 2em;
        text-align: center;
        color: rgba(27, 14, 4, 0.897);
        
    }



   

    .latest_pics{
        display: flex;
        justify-content: center;
        align-self: start;
        flex-flow: row wrap;
        gap: 1vw;
        height: 200vh;
    }

    .pic {
        border-radius: 15px;
        width:20vw;
        height:20vw;
        filter: brightness(30%);
        transition: 0.3s;
    }
    .pic:hover {
        filter: brightness(100%);
    }



    footer {
        margin-top: 50px;
        grid-area: ft;
        background-color: rgb(64, 38, 14);
    }
}

h2{
    margin:0%;
    font-size: 1.5em;
}

p{
    margin: 0%;
}

img{
    object-fit: cover;
}